{
  "**/src/!(tests)/**/*.+(ts|tsx)": ["eslint --fix --fix-type problem", "git add"],
  "**/*.+(js|jsx|json|yml|yaml|css|less|scss|ts|tsx|md|graphql|mdx)": [
    "prettier --write",
    "git add"
  ]
}

