service: books

package:
  excludeDevDependencies: true
  exclude:
    - .circleci/**
    - .github/**
    - build/cache/**
    - build/static/**
    - coverage/**
    - cypress/**
    - profile/**
    - src/**
    - traces/**
    - '**/*.map'

provider:
  name: aws
  runtime: nodejs10.x
  memorySize: 2048
  timeout: 30
  region: ${opt:region, 'ap-northeast-2'}
  stage: ${opt:stage, 'development'}
  stackName: books-sls-${self:provider.stage} # CloudFormation stack name
  deploymentBucket:
    name: ${env:S3_BUCKET}
    # serverSideEncryption: AES256
  environment:
    ASSET_PREFIX: ${env:ASSET_PREFIX}
    SERVERLESS: true
    NODE_ENV: 'production'
    NODE_PATH: './:/opt'
  iamRoleStatements: # for serverless-plugin-warmup
    - Effect: 'Allow'
      Action:
        - 'lambda:InvokeFunction'
      Resource:
        - Fn::Join:
            - ':'
            - - arn:aws:lambda
              - Ref: AWS::Region
              - Ref: AWS::AccountId
              - function:${self:service}-${opt:stage, self:provider.stage}-*

functions:
  server:
    path: /
    handler: server.handler
    warmup:
      enabled:
        - development
        - production

plugins:
  - serverless-offline
  - serverless-plugin-warmup
  - serverless-stage-manager

custom:
  warmup:
    enabled: true
    memorySize: 256
    timeout: 20
    prewarm: true
  stages:
    - development
    - staging
    - prerelease
    - production
